@charset 'UTF-8';

$linkColor: #666;

* {
  margin: 0;
  padding: 0;
  font-family: bar, Arial, Helvetica;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  width: 100%;
}

#app {
  display: flex;
  flex-direction:row;
  min-height: 100vh;
  background-color: rgb(252, 251, 247);

  &> section {
    position: relative;
    display: flex;
    margin: 0 auto 0 auto;
    max-width: 1150px;
    min-height: 100vh;

    section {
      display: flex;
      margin-bottom: 20px;

      article {
        flex: 1;
        order: 1;
        padding: 0 20px;

        h1 {
          font-size: 26px;
          margin-bottom: 30px;
          padding-right: 50px;
          color: #333;
        }

        h2 {
          font-size: 20px;
          margin-bottom: 10px;
          color: #666;

          a {
            color: $linkColor;
          }
        }

        &> p {
          margin-bottom: 25px;
          padding-right: 50px;
          line-height: 26px;
          font-size: 14px;
          color: #777;

          a {
            color: $linkColor;
          }
        }
      }

      &>aside {
        order: 2;
        margin-top: 60px;
        margin-right: 40px;
        width: 280px;
        color: #000;
        text-align: left;
        align-items: stretch;

        h2 {
          border-bottom: 1px solid #CCC;
          margin-right: 20px;
          line-height: 25px;
          font-family: arial;
          font-size: 14px;
          text-transform: uppercase;
        }

        ul {
          list-style: none;

          li {

            h3 {
              margin: 20px 0 5px 0;
              font-size: 13px;
              font-weight: normal;
            }

            p {
              font-size: 11px;
              color: #777;
            }
          }
        }
      }
    }

    &:first-of-type {
      order: 2;
      flex: 1;
      margin-top: 100px;
      display: flex;
      flex-direction: column;
    }
  }
}


@media (max-width: 1286px) {
  #app {
    flex-direction: column;

    section {

      &:first-of-type {
        margin-top: 40px;
        width: auto;
      }
      article {
        h1 {
          padding-right: 0px;
        }

        &> p {
          padding-right: 0px;
        }
      }
    }
  }
}

@media (max-width: 1016px) {
  #app section {
    flex-direction: column;

    aside {
      width: 100%;
    }
  }
}

@media (max-width: 768px) {
  #app>section {
    &:first-of-type {
      margin-top: 0px;
    }
    section {
      article p {
        padding-right: 0;
      }
      &>aside {
        margin: 20px;

        ul li p {
          display: inline-block;

          &:first-of-type:after {
            content: ',\00a0'
          }

        }
      }
    }
  }
}
