@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  font-family: bar, Arial, Helvetica;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  width: 100%;
}

#app {
  display: flex;
  flex-direction:row;
  min-height: 100vh;

  &> div:first-of-type {
    order: 2;
    flex: 1;
  }
}
