@charset 'UTF-8';

#userCard {
  border: 1px solid #343434;
  background-color: #343434;
  text-align: center;

  a div {
    float: none;
    height: 130px;
    width: 130px;
    border-radius: 50%;
    margin: 50px auto 0.75em;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/styles/imgs/andreFerreiraMSc.jpg');
  }

  h1 {
    font-size: 15px;
    font-weight: normal;
  }
}

@media (max-width: 1286px) {
  #userCard {
    height: 80px;
    text-align: left;

    a {
      float: left;
      display: inline-block;

      div {
        margin: 20px 0 0 30px;
        width: 50px;
        height: 50px;
      }
    }

    h1 {
      margin: 34px 0 0 15px;
      display: inline-block;
    }
  }
}
